<!doctype html>
<html>
  <head>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="./node_modules/bootstrap/dist/css/bootstrap.min.css">
    <script src="ng-core/angular.min.js"></script>
    <script src="modules/app.js"></script>
  </head>
  <body ng-app="pincodeModule" ng-controller="pincodeController">
    <div class="container">
      <!-- <label>Search: </label><input class="form-control" type="text" ng-model="test"> -->
      <div class="well" style="margin-top:20px;">      
        <p>Search Indian Pincodes</p>
        <label>Search by Pincode, officename</label>
        <input class="form-control" type="text" ng-model="keyword" placeholder="Search by pincode, officename"/>
        <button ng-click="fetchData(keyword)" class="btn btn-primary">Search</button>
        <span us-spinner spinner-key="spinner"></span>
      </div>
      <table class="table table-bordered" border="1">
        <tr>
        <th>#</th>
        <!-- <th>id</th> -->
        <!-- <th>timestamp </th> -->
        <th>Office name</th>
        <th>Pincode</th>
        <!-- <th>officeTypes</th> -->
        <th>Delivery</th>
        <th>Division</th>
        <th>Region</th>
        <th>Circle</th>
        <th>Taluk</th>
        <th>District</th>
        <th>State </th>
        <th>Telephone</th>
        </tr>
        <tr ng-repeat="result in results | orderBy:'state' | filter:test">
          <td>{{$index + 1}}</td>
          <!-- <td>{{pincode.id}}</td> -->
          <!-- <td>{{pincode.timestamp}}</td> -->
          <td>{{result.officename}}</td>
          <td>{{result.pincode}}</td>
          <!-- <td>{{pincode.officeType}}</td> -->
          <td>{{result.Deliverystatus}}</td>
          <td>{{result.divisionname}}</td>
          <td>{{result.regionname}}</td>
          <td>{{result.circlename}}</td>
          <td>{{result.Taluk}}</td>
          <td>{{result.Districtname}}</td>
          <td>{{result.statename}}</td>
          <td>{{result.Telephone}}</td>
        </tr>
      </ul>
    </div>
  </body>
  <script src="services/data-services.js"></script>
  <script src="controllers/pincodeController.js"></script>
  <script src="ng-core/angular-spinner.min.js"></script>
  <script src="ng-core/spin.js"></script>
  <script src="ng-core/angular-route.min.js"></script>
</html>